on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Copy single file to remote
        uses: garygrossgarten/github-action-scp@release
        with:
          local: file.txt
          remote: Téléchargements/file.txt
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.PASSWORD }}
